* {
    margin: 0;
}

img {
    max-width: 100%;
}

header,
footer,
article {
    border: 1px solid #e6e6e6;
}

main {
    margin: 0 50px;
}

h1,
footer p {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    section {
        flex-direction: row;
    }
}

/* Øvelse 7 - Styling med Javascript */
.shadow {
    -webkit-box-shadow: 7px 37px 106px 21px rgba(21,43,89,1);
    -moz-box-shadow: 7px 37px 106px 21px rgba(21,43,89,1);
    box-shadow: 7px 37px 106px 21px rgba(21,43,89,1);
    transition-property: box-shadow;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
